
 
 
  <div class="container"    >
<div class="row">
<data-table (deletesEmit)="deleteDatas($event)"  [ButtonHeaders]="buttonHeaders" (changepage)="changepage($event)" [isCheckBox] = "isCheck" [isLink]="isLink" [buttonList]="btnList" (operat)="operatData($event)"   [title]="title" [page] ="page" [addButton]="btnAdd" [deleteButton]="btnDelete" [importButton]="btnImport" [exportButton] = "btnExport" [total]="total" 
 [data]="data" [arr]="arrbutes"  (linkClickEmitData)="linkClick($event)" [buttonstyle]="btnstyle"   [sizeList]="sizeList" [paging]="paging" [pageSize]="pageSize"></data-table>
</div>
  </div>


